---
http_interactions:
- request:
    method: post
    uri: "https://ap-gateway.mastercard.com/api/rest/version/52/merchant/TESTMERCHANT/session"
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - Basic bWVyY2hhbnQuVEVTVEVWSEVST1NURzAyOmU3NTBmMjVhY2QyMDdkMTY4MTE3ZDEwNTBlNmZiYWY3
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json;charset=ISO-8859-1
    body:
      encoding: ASCII-8BIT
      string: '{"merchant":"TESTEVHEROSTG02","result":"SUCCESS","session":{"id":"SESSION0002192538644F09327974E2","updateStatus":"NO_UPDATE","version":"506bb1d401"}}'
  recorded_at: Fri, 09 Feb 2018 05:22:34 GMT
- request:
    method: put
    uri: "https://ap-gateway.mastercard.com/api/rest/version/52/merchant/TESTMERCHANT/session/SESSION0002192538644F09327974E2"
    body:
      encoding: UTF-8
      string: '{"sourceOfFunds":{"provided":{"card":{"number":"4005550000000019","expiry":{"month":"5","year":"21"},"securityCode":"123"}}}}'
    headers:
      Authorization:
      - Basic bWVyY2hhbnQuVEVTVEVWSEVST1NURzAyOmU3NTBmMjVhY2QyMDdkMTY4MTE3ZDEwNTBlNmZiYWY3
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=ISO-8859-1
    body:
      encoding: ASCII-8BIT
      string: '{"merchant":"TESTEVHEROSTG02","session":{"id":"SESSION0002192538644F09327974E2","updateStatus":"SUCCESS","version":"a0b1990a02"},"sourceOfFunds":{"provided":{"card":{"brand":"VISA","expiry":{"month":"5","year":"21"},"fundingMethod":"CREDIT","number":"400555xxxxxx0019","scheme":"VISA","securityCode":"xxx"}}},"version":"46"}'
  recorded_at: Fri, 09 Feb 2018 05:22:34 GMT
- request:
    method: post
    uri: "https://ap-gateway.mastercard.com/api/rest/version/52/merchant/TESTMERCHANT/token"
    body:
      encoding: UTF-8
      string: '{"session":{"id":"SESSION0002192538644F09327974E2"},"sourceOfFunds":{"type":"CARD"}}'
    headers:
      Authorization:
      - Basic bWVyY2hhbnQuVEVTVEVWSEVST1NURzAyOmU3NTBmMjVhY2QyMDdkMTY4MTE3ZDEwNTBlNmZiYWY3
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json;charset=ISO-8859-1
    body:
      encoding: ASCII-8BIT
      string: '{"repositoryId":"TESTSUELDO","response":{"gatewayCode":"BASIC_VERIFICATION_SUCCESSFUL"},"result":"SUCCESS","sourceOfFunds":{"provided":{"card":{"brand":"VISA","expiry":"0521","fundingMethod":"CREDIT","issuer":"JPMORGAN
        CHASE BANK, N.A.","number":"400555xxxxxx0019","scheme":"VISA"}},"type":"CARD"},"status":"VALID","token":"9254920346736377","usage":{"lastUpdated":"2018-02-09T05:22:34.414Z","lastUpdatedBy":"TESTEVHEROSTG02","lastUsed":"2018-02-09T05:22:34.414Z"},"verificationStrategy":"BASIC"}'
  recorded_at: Fri, 09 Feb 2018 05:22:34 GMT
- request:
    method: put
    uri: "https://ap-gateway.mastercard.com/api/rest/version/52/merchant/TESTMERCHANT/order/c931fe120ccfe7357e676f2c439187e6ff91ffac/transaction/PAY"
    body:
      encoding: UTF-8
      string: '{"apiOperation":"PAY","sourceOfFunds":{"type":"CARD","token":"9254920346736377"},"order":{"amount":"100.00","currency":"AUD"}}'
    headers:
      Authorization:
      - Basic bWVyY2hhbnQuVEVTVEVWSEVST1NURzAyOmU3NTBmMjVhY2QyMDdkMTY4MTE3ZDEwNTBlNmZiYWY3
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json;charset=ISO-8859-1
    body:
      encoding: ASCII-8BIT
      string: '{"gatewayEntryPoint":"WEB_SERVICES_API","merchant":"TESTEVHEROSTG02","order":{"amount":100.00,"chargeback":{"amount":0,"currency":"AUD"},"creationTime":"2018-02-09T05:22:34.589Z","currency":"AUD","id":"c931fe120ccfe7357e676f2c439187e6ff91ffac","status":"CAPTURED","totalAuthorizedAmount":100.00,"totalCapturedAmount":100.00,"totalRefundedAmount":0.00},"response":{"acquirerCode":"00","gatewayCode":"APPROVED"},"result":"SUCCESS","risk":{"response":{"gatewayCode":"ACCEPTED","review":{"decision":"NOT_REQUIRED"},"rule":[{"data":"400555","name":"MERCHANT_BIN_RANGE","recommendation":"NO_ACTION","type":"MERCHANT_RULE"},{"name":"SUSPECT_CARD_LIST","recommendation":"NO_ACTION","type":"MERCHANT_RULE"},{"name":"TRUSTED_CARD_LIST","recommendation":"NO_ACTION","type":"MERCHANT_RULE"},{"data":"400555","name":"MSO_BIN_RANGE","recommendation":"NO_ACTION","type":"MSO_RULE"}]}},"sourceOfFunds":{"provided":{"card":{"brand":"VISA","expiry":{"month":"5","year":"21"},"fundingMethod":"CREDIT","issuer":"JPMORGAN
        CHASE BANK, N.A.","number":"400555xxxxxx0019","scheme":"VISA"}},"token":"9254920346736377","type":"CARD"},"timeOfRecord":"2018-02-09T05:22:34.589Z","transaction":{"acquirer":{"batch":20180209,"id":"STGEORGE","merchantId":"057998204360525"},"amount":100.00,"authorizationCode":"008835","currency":"AUD","frequency":"SINGLE","id":"PAY","receipt":"180209008835","source":"MOTO","terminal":"04360525","type":"PAYMENT"},"version":"46"}'
  recorded_at: Fri, 09 Feb 2018 05:22:34 GMT
recorded_with: VCR 4.0.0
